body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.heading{
    color: orange;
}
h1{
    font-size: 60px;
    line-height: 80%;
}
.a{
    width: 50%;
    padding-left:5%;
    padding-right: 5%;

}
.a img{
    width:100%;
    
   

}
.flexible-container{

    display: flex;
    margin-bottom: 100px;
    margin-top: 0;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 25px;
    font-weight: 700;
    color: white;

}
.top-banner{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
.about{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no repeat;
    background-position: right;
}


.recipie-item{
  
   padding: 20px;
   flex-basis: 26%;
   margin: 0 50px;
   box-shadow: 5px 5px 5px 5px rgb(236, 227, 227);
   border-radius: 15px;


}
.photo
{
    border-radius: 25px;
}
.head{
    text-align: center;
}
footer p{
    text-align: center;
}
footer{
    background-color: black;
    height: 120px;
    color: #fff;
    text-align: center;
    
}
footer span{
    color: orange;
}
footer h2{
    color: grey;
    padding-top: 20px;
}